@import "node_modules/mustard-ui/src/scss/mustard-ui.scss";
@import "./fonts/capicon/style.css";
@import "./fonts/capicon/extend.scss";
@import "./components/nav.scss";
@import "./components/thread.scss";
@import "./components/post.scss";

.thread-list {
    column-count: 3;
    padding: 0 1rem;
}

.tooltip-text {
    z-index: 1;

    font-size: 0.5rem;
    min-width: 100px;
    padding: 5px 10px;

    &__bottom {
        bottom: -100%;

        &:after {
            top: -72%;
            transform: translateX(-50%) rotate(180deg);
        }
    }
}