select {
    -webkit-appearance: none;
}

.tooltip-text {
    z-index: 1;

    font-size: 0.5rem;
    min-width: 100px;
    padding: 5px 10px;

    &__bottom {
        bottom: -100%;

        &:after {
            top: -72%;
            transform: translateX(-50%) rotate(180deg);
        }
    }
}

.button-tiny {
    height: 18px;
    line-height: 18px;
    padding: 0 8px;
    font-size: 8px;
}