$nav-height: 30px;

body {
    padding-top: $nav-height;
}

nav.main-nav {
    z-index: 100;
    position: fixed;
    top: 0;
    height: 30px;

    .nav-container {
        margin: 0;
        padding: 0;

        .nav-links {
            li a {

                &:hover,
                &:active,
                &:visited,
                &:focus,
                &.router-link-exact-active {
                    opacity: 1;
                    background: #ffd454;
                }
            }
        }
    }
}