// .icon-001:before
.icon-home:before {
    content: "\e600";
}

// .icon-007:before
.icon-settings:before {
    content: "\e606";
}

// .icon-012:before
.icon-refresh:before {
    content: "\e60b";
}

// .icon-021:before
.icon-eye:before {
    content: "\e614";
}

// .icon-057:before
.icon-close:before {
    content: "\e638";
}

// .icon-079:before {
.icon-bookshelf:before {
    content: "\e64e";
}

// .icon-243:before
.icon-quote-open:before {
    content: "\e6f2";
}

// .icon-244:before
.icon-quote-close:before {
    content: "\e6f3";
}

// .icon-276:before
.icon-arrow-right:before {
    content: "\e713";
}

// .icon-277:before
.icon-arrow-left:before {
    content: "\e714";
}

// .icon-278:before
.icon-arrow-up:before {
    content: "\e715";
}

// .icon-279:before
.icon-arrow-down:before {
    content: "\e716";
}

// .icon-331:before
.icon-loading:before {
    content: "\e74a";
}

// .icon-355:before {
.icon-favorite:before {
    content: "\e762";
}